data/tennis_court_images/
data/non_tennis_court_images/

.env

dataset/test/not_tennis_court/
dataset/test/tennis_court/
dataset/train/not_tennis_court/
dataset/train/tennis_court/
dataset/validation/not_tennis_court/
dataset/validation/tennis_court/