data/old/tennis_court_images/
data/old/non_tennis_court_images/
non_tennis_court_images/
tennis_court_images/
data/non_tennis_courts/
data/tennis_courts/

.env

dataset/

data/dataset.zip
tennis_court_classifier.keras