html, body, #root, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #293241;
  color: #ffffff;
  position: relative;
  font-family: 'Arial', sans-serif;
}

.navbar {
  width: 100%;
  height: 9%;
  background-color: #293241;
  color: #ffffff;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.navbar-title {
  font-size: 2.0em;
  font-weight: bold;
}

.navbar-middle {
  margin-left: 5%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.location-search {
  width: 200%;
  max-width: 700px;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 2.5%;
}

.info-container {
  position: relative;
  margin-right: 20px;
}

.info-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5em;
  transition: transform 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: default;
}

.info-button:focus {
  outline: none;
}

.info-popup {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #272727;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  min-width: 220px;
  max-width: 300px;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
}

.info-container:hover .info-popup {
  opacity: 1;
  visibility: visible;
}

.info-container:hover .info-button {
  transform: rotate(360deg);
}

.token-display {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.token-icon {
  color: gold;
  margin-right: 10px;
}

.token-display span {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}

.find-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.find-button:hover {
  background-color: #3a813d;
}

.map-container {
  width: 100%;
  height: calc(100vh - 82px);
  position: relative;
  top: 0;
  overflow: hidden;
}

.footer-overlay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(41, 50, 65);
  color: #b0b0b0;
  padding: 5px 10px;
  border-top-right-radius: 5px;
  font-size: 0.8em;
  text-align: right;
  z-index: 10;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid #4CAF50;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  font-size: 0.9em;
}

.info-icon {
  color: inherit;
  border-radius: 50%;
  padding: 4px;
  margin-right: 6px;
  font-size: 18px;
  display: inline-block;
  overflow: visible;
}

.search-icon {
  color: gold;
}

.clock-icon {
  color: forestgreen;
}

.info-item span {
  white-space: nowrap;
}

.gm-style-iw-c button {
  display: none !important;
}

.modal-button.confirm:disabled {
  background-color: #b3b3b3;
  color: #666666;
  cursor: not-allowed;
  border: 1px solid #999999;
}

.modal-button.confirm:disabled:hover::after {
  content: "You don't have enough tokens. Tokens reset daily at midnight.";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 10;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0.9;
}

.modal-button.confirm:disabled:hover {
  background-color: #b3b3b3;
  color: #666666;
  border: 1px solid #999999;
}

.modal-button.confirm {
  position: relative;
}

.modal-button.confirm:hover::after {
  content: "";
}
